$header-top-width: 1040px; /*1040*/
$header-top-menu: 13.66px;
$header-top-menu-margin: 260.09px; /*210.022*/
$header-top-logo-margin: 230.09px;
$header-top-menu-right: 13.66px;
$header-top-mitMar: 37.565px;
$header-top-logo: 109.46px;
$header-menu-right-lastW: 86.87px;
$appleWidth: 11.19px;
$appleMargin: 8.56px;
$headerTitle: 33.98px; /*33*/
$headerText: 13.66px;
$cardWidth: 290.28px;
$headerHeight: 906.28px;
$heightM2: 756.16px;

$titleM3: 35.86px;
$screenTitle: 10.25px;